<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f9f9f9;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
      line-height: 1.6;
    }
    .reset-password {
      background-color: #f0f0f0;
      padding: 10px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <div>
    <h2>Reset Password</h2>
    <p>Dear <strong>{{email}}</strong>,</p>
    <p>To reset your password, please enter the following code:</p>
    <p class="reset-password ">{{code}}</p>
    <p>If you didn't request to reset your password, you can safely ignore this email.</p>
    <p>Best regards,<br />Scout</p>
  </div>
</body>
</html>
